.last-match-container {
    padding: 20px;
    background-color: #14142B;
    color: white;
    border-radius: 10px;
    height: 83vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 20px;
    color: white;
  }
  
  .view-all {
    font-size: 14px;
    color: #50E3C2;
    text-decoration: none;
  }
  
  .match-list {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3F3F58 #1F1F2E;
    padding: 2%;
  }
  
  .match-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .match-list::-webkit-scrollbar-thumb {
    background-color: #3F3F58;
    border-radius: 10px;
  }
  
  .section-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #50E3C2;
  }
  
  .match-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #1F1F2E;
    border-radius: 8px;
    border-left: 5px solid #3F3F58;
  }
  
  .match-item.today {
    border-left-color: #50E3C2;
  }
  
  .match-item.past {
    border-left-color: #B03B3B;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .match-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .map-name {
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
  
  .score {
    font-size: 18px;
    color: #50E3C2;
    font-weight: bold;
  }
  
  .kda {
    font-size: 14px;
    color: #BBBACD;
  }
  
  .rank-icon {
    width: 40px;
    height: 40px;
    background-color: #3F3F58;
    border-radius: 50%;
  }
  